<div class="flex-fill d-flex flex-column container-chat p-4">
  <ul class="list-messages flex-fill"></ul>
  <div class="d-flex flex-row">
    <input class="chat-input form-control flex-fill mr-2" type="text" />
    <button class="chat-button btn btn-md btn-primary">Envoyer</button>
  </div>

  <div class="typing-info mt-2"></div>
</div>
